{% extends "layout.html" %}
    {% block content %}
        <br />
        <br />
        <br />
        <br />
        {% for comment in comments %}

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Comment:</div>
                    </div>
                    <div class="panel-body">
                    {% if current_user.is_authenticated %}
                        <form method="post" action="/update">
                            <input type="hidden" value="{{comment.content}}" name="oldcontent" />
                            <input type="text" class="form-control" value="{{comment.content}}" name="newcontent" />
                            <input type="submit" class="btn btn-success" value="Update" />
                        </form>
                    {% else %}
                        <form method="post" action="#">
                            <input type="text" class="form-control" value="{{comment.content}}" name="newcontent" />
                        </form>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                        <form method="post" action="/delete">
                            <input type="hidden" value="{{comment.content}} " name="content">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    {% endif %}

                        <div>
                            <small>
                                Posted
                                {% if comment.posted %}
                                    {{ comment.posted.strftime("%A, %B %d %Y at %H:%M") }}
                                {% else %}
                                    at some unknown time
                                {% endif %}
                                    by
                                    {% if comment.commenter %}
                                        {{ comment.commenter.username }}
                                    {% else %}
                                        anonymous
                                    {% endif %}

                            </small>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% if current_user.is_authenticated %}
            <form action="." method="POST">
                <textarea name="contents" class="form-control" placeholder="Enter a comment"></textarea>
                <input type="submit" class="btn btn-success" value="Post comment">
            </form>
            {% endif %}
    {% endblock %}
