{% extends "layout.html"%}
    {% block content %}
        <br />
        <br />
        <br />
        <br />
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h3>Welcome to :</h3>
                    <h1>Casa de Bobo</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-7">
                    <img src="/static/img/pyany_cat.jpg" alt="hedphone-cat.jpeg" />
                </div>
                <div class="col-md-3">

                </div>
            </div>

        </div>
    {% endblock %}
